.aboutus {
    position: relative;
    background-color: $colorGrayBox;
    padding: 120px 0;
    text-align: center;
  }
  .aboutus--style2 {
    background-color: $colorPinkBox;
  }
  .aboutus__title {
    font-size: 48px;
    line-height: 116.667%;
    letter-spacing: -2px;
    padding-bottom: 30px;
  }
  .aboutus__note {
    font-family: Outfit;
    font-size: 22px;
    line-height: 145.455%;
    letter-spacing: -1px;
    padding-bottom: 70px;
  }
  .aboutus__carousel {
    position: relative;
  }
  .aboutus__nav {
    position: absolute;
    top: -130px;
    right: -70px;
  }
  .aboutus__detail {
    border-radius: 20px;
    background-color: #fff;
    padding: 45px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
    }
  }
  .aboutus__detail--style2 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: -70px;
      width: 60px;
      height: 60px;
      background-color: $colorBlue;
      border-radius: 50%;
      border-bottom-right-radius: 0px;
    }
  }
  .aboutus__avt {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    img {
      border-radius: 50%;
    }
  }
  .aboutus__name {
    color: $colorBlackText;
    font-family: Outfit;
    font-size: 22px;
    line-height: 145.455%;
    letter-spacing: -1px;
  }
  .aboutus__position {
    font-size: 16px;
    line-height: 162.5%;
    padding-bottom: 20px;
  }
  .aboutus__position--style2 {
    padding-bottom: 10px;
  }
  .aboutus__rate {
    color: $colorBlackText;
    font-family: Outfit;
    font-size: 18px;
    font-weight: 500;
    line-height: 155.556%;
    letter-spacing: 0.4px;
    padding-bottom: 25px;
  }
  .aboutus__comment {
    font-size: 18px;
    line-height: 155.556%;
    letter-spacing: -0.3px;
  }
  .aboutus__star {
    padding-bottom: 20px;
  }
  