.checkbox {
    display: block;
    padding: 6px 0 10px 25px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-family: DM Sans;
    font-size: 14px;
    line-height: 171.429%;
    letter-spacing: -0.3px;
    &.child {
      margin-left: 25px;
    }
  }
  .checkbox__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkbox__checkmark {
    position: absolute;
    top: 10px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: $colorGrayLine;
  }
  
  .checkbox__input:checked ~ .checkbox__checkmark {
    background-color: #000;
  }
  
  .checkbox__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox__input:checked ~ .checkbox__checkmark:after {
    display: block;
  }
  
  .checkbox__checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .checkbox-container.active svg {
    rotate: 180deg;
  }
  