.text-box-title {
    color: #2D3958;
    font-size: 18px;
    font-family: Outfit;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.40px;
    word-wrap: break-word;
}

.text-box__comment {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    border-top: solid 1px #ccc; /* Using placeholder color for border */
    
}
.text-box__comment--2 {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-top: 30px;
}

.text-box__comment__container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.text-box__comment__details {
    display: flex;
    flex-direction: column;
    margin-left: 30px; /* Added margin from the left */
}

.text-box__comment__name-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    // Martha Smith
color: #333333;
font-size: 16px;
font-family: DM Sans;
font-weight: 400;
line-height: 26px;
word-wrap: break-word
}

.date {
    // 10 July, 2022. 10:00
    color: #7B88A8;
    font-size: 14px;
    font-family: Outfit;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.40px;
    word-wrap: break-word
}

.text-box__comment__content {
    margin-top: 25px;
    // As Vietnam's fintech is young and promising, the market valuation has increased from US$ 0.7 to US$ 4.5 billion since 2016.
    color: #7B88A8;
    font-size: 16px;
    font-family: DM Sans;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word
}

/* Your existing styles for .cmt-title, .cmt-box, .comment, .avatar, .comment-details, etc. */

.reply {
    display: flex;
    align-items: center;
    color: #4F77FF; /* Color for the SVG */
    margin-top: 10px;
    cursor: pointer;
    &:hover{
        color: darkblue;
    }
}

.reply svg {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    &:hover{
        color: darkblue;
    }
}
