.finest {
    padding: 90px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
  .finest__title {
    text-align: center;
    font-size: 64px;
    line-height: 112.5%;
    letter-spacing: -2px;
  }
  .finest__couple-img {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
  }
  .finest__img {
    img {
      border-radius: 20px;
    }
  }
  .finest__description{
    color: var(--text-text, #7B88A8);
font-feature-settings: 'clig' off, 'liga' off;

/* Paragraph/Paragraph 1 */
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: -0.3px;
  }