form {
    color: #E7E5EA;
    width: fit-content;
    height:48px;
    display: flex;
    padding-block-end: 6px;
    border-radius: 5px;
    margin: 0 0 30px;
    gap:5px;
  }
  form01{
    background-color: #E7E5EA;
    width: fit-content;
    height:48px;
    display: flex;
    padding-block-end: 6px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
    gap:6px;
  }
  
  input[type="search01"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    outline:none;
  }
  input[type="search01"]:focus {
  color:$colorBlackText2;
  }
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding-left:16.39px;
    padding-top: 15px;
    padding-bottom: 11px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    outline:none;
  }
  input[type="search"]:focus {
    color:$colorBlackText2;
    }
  
  input[type="search"]::placeholder {
    color: #7b88a8;
    font-size:16px;
    font-family: DM Sans;
    font-weight: 400;
    line-height: 26px;
  }
  .input__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 48px;
    color: $colorGrayText;
    font-family: DM Sans;
    font-size: 16px;
    line-height: 162.5%;
    padding: 0px 18px;
    border-radius: 5px;
    border: 1px solid $colorGrayLine;
    background-color: #fff;
    &:focus {
      outline: none;
    }
  }
  input[type="text"] {
    background: white; 
    margin: 0;
    padding-left:16.39px;
    padding-top: 15px;
    padding-bottom: 11px;
    font-size: 14px;
    color: inherit;
    border-radius: 5px; border: 0.50px #E7E5EA solid
  }
  input[type="text"]:focus {
    color:$colorBlackText2;
    }
    .input-box::placeholder {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 17.5px; /* Adjusted left position */
  }