.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo__text {
    color:#2D3958;
    font-family: Outfit;
    font-size: 24px;
    font-weight: 400;
    line-height: 133.333%;
    letter-spacing: -0.4px;
}
.logo__text--white {
  color: #fff;
}