.pr{
    padding-top:90px;
}
.pr-content{
    padding:10px;
    gap:40px;
    display: grid   ;
}
.pr-content__title {
    // Websites and branding that set the groundwork for successful marketing
    color: #2D3958;
    font-size: 36px;
}
.pr-content__description {
    // We create human-centered enterprise software that has the polished, snappy feel of the best consumer apps.
    color: #7B88A8;
    font-size: 18px;
    font-family: DM Sans;
    font-weight: 400;
}