.text-box {
  border-radius: 5px;
  border: 1px solid $colorGrayLine;
  background-color: #fff;
}
.text-box__container{
  margin:42px 50px;
}
.text-box--end{
  margin: 0 30px;
}
.text-box--style2 {
  border: none;
  border-bottom: 1px solid $colorGrayLine2;
  border-radius: 0px;
}
.text-box--pb {
  padding-bottom: var(--pb);
}
.text-box__img {
  width: 100%;
  img {
    border-radius: 5px;
    filter: grayscale(100%);
    transition: filter 1s;
    max-width: 100%;
    transition: all 0.3s ease-in-out;
  }
}

.text-box__img:hover img {
    filter: grayscale(0%);
    transform: scale(1.05);
  }
.text-box__img2 {
  width: 100%;
  img {
    border-radius: 5px;
    transition: filter 1s;
    max-width: 100%;
    transition: all 0.3s ease-in-out;
  }
}

.text-box__img2:hover img {
    transform: scale(1.05);
  }
.text-box__img--style2 {
  img {
    border-radius: 0;
  }
}
.text-box__wrap-text {
  padding: 30px 40px 50px;
}
.text-box__wrap-text--style2 {
  padding-bottom: 20px;
}
.text-box__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-box__artist {
  display: flex;
  align-items: center;
  gap: 10px;
}
.text-box__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.text-box__name {
  font-family: Outfit;
  font-size: 15px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
.text-box__date {
  font-family: Outfit;
  font-size: 14px;
  font-weight: 500;
  line-height: 171.429%;
  letter-spacing: 0.4px;
}
.text-box__title {
  padding: 35px 0;
  font-size: 36px;
  line-height: 127.778%;
  letter-spacing: -1px;
  &:hover {
    color: $colorBlue;
  }
}
.text-box__content {
  font-size: 16px;
  line-height: 162.5%;
  padding-bottom: 40px;
  span {
    color: $colorBlue;
  }
}

.text-box__content--style2 {
    color: #2D3958;
    font-size: 18px;
    font-family: DM Sans;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
}
.text-box__blue-text {
  color: $colorBlue;
}
.text-box__quote {
  border-radius: 5px;
  background-color: $colorGrayBox;
  padding: 30px 50px;
  color: $colorBlackText;
  font-size: 18px;
  line-height: 155.556%;
  letter-spacing: -0.3px;
}
.text-box__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-box__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.text-box__footer-text{
  color:white;
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 26px;
}
