.title-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title__blog{
    color:$colorBlackText;
    font-size: 48px;
    line-height: 116.667%;
    font-weight: 600;
    letter-spacing: -2px;
}
.title__blogdescription {
    padding-top: 20px;
    font-family: Outfit;
    font-size: 15px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .title__blogdescription span:first-child {
    color: #2D3958;
  }
  
  .title__blogdescription span:nth-child(2) {
    color: #7B88A8;
  }
  .title__container-text{
    // Design & Branding<br/>Studio in New York
color: #222222;
font-size: 72px;
font-family: Outfit;
font-weight: 500;
line-height: 78px;
word-wrap: break-word
  }
  .title__img{
    width: 845px;
    height:870px;

    img{
      display: flex;
      justify-content: flex-end;
    }
  }